/build
wesnoth.exe
wesnothd.exe
wesnoth-debug.exe
wesnothd-debug.exe
/wesnoth
/wesnothd
/wesnoth-debug
/wesnothd-debug
/stderr.txt
/stdout.txt
/.scons-option-cache
/config.h
/userdata
*.o
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
doc/CMakeFiles/
doc/Makefile
doc/cmake_install.cmake
doc/man/CMakeFiles/
doc/man/Makefile
doc/man/cmake_install.cmake
doc/manual/CMakeFiles/
doc/manual/Makefile
doc/manual/cmake_install.cmake
po/CMakeFiles/
po/Makefile
po/cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/config.h
uninstall.cmake
